<div class="field-container">
    <div class="field">
        <label for="config_command">Command</label>
        <input
            type="text"
            name="config[command]"
            id="config_command"
            value="<%= values.command || '' %>"
            placeholder="bash"
        />
    </div>
    <% if (errors.command) { %>
    <p class="error"><%= errors.command %></p>
    <% } %>
</div>

<div class="field-container js_json_container">
    <div class="field">
        <label for="config_args">Arguments (JSON array)</label>
        <textarea
            name="config[args/json]"
            id="config_args"
            class="bigger js_json_field"
            rows="4"
            placeholder='["-la", "--color=auto"]'
        >
            <%= values.args
                ? (typeof values.args === 'string'
                ? values.args
                : JSON.stringify(values.args, null, 2))
            : '' %>
        </textarea>
    </div>
    <p class="error js_json_error"><%= errors.args %></p>
</div>

<div class="field-container">
    <div class="field">
        <label for="config_cwd">Working Directory</label>
        <input
            type="text"
            name="config[cwd]"
            id="config_cwd"
            value="<%= values.cwd || '' %>"
            placeholder="/app"
        />
    </div>
    <% if (errors.cwd) { %>
    <p class="error"><%= errors.cwd %></p>
    <% } %>
</div>

<div class="field-container js_json_container">
    <div class="field">
        <label for="config_env">Environment Variables (JSON)</label>
        <textarea
            name="config[env/json]"
            id="config_env"
            class="bigger js_json_field"
            rows="6"
            placeholder='{"KEY":"value"}'
        >
            <%= values.env
                ? (typeof values.env === 'string'
                ? values.env
                : JSON.stringify(values.env, null, 2))
                : '' 
            %>
        </textarea>
    </div>
    <p class="error js_json_error"><%= errors.env %></p>
</div>
