<table class="table">
    <thead>
        <tr>
            <th>
                <a href="/job/create" class="btn btn-primary" hx-disable="true"
                    ><%- include('./icons/create') %></a
                >
            </th>
            <th>id</th>
            <th>name</th>
            <th>enabled</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody>
        <% if (jobs && jobs.length) { %>
        <% jobs.forEach(function(job) { %>
        <tr>
            <td>
                <button
                    class="btn btn-primary"
                    hx-delete="/job/<%= job.id %>"
                    hx-confirm="Delete this task?"
                    hx-target="closest tr"
                    hx-swap="outerHTML:remove"
                    hx-push-url="false"
                >
                    <%- include('./icons/delete')  %>
                </button>
                <a hx-boost="false" href="/job/edit/<%= job.id %>" class="btn btn-secondary">
                    <%- include('./icons/edit') %>
                </a>
                <div class="btn-container">
                    <button
                        class="btn btn-primary run"
                        hx-post="/api/run/job/<%= job.id %>/start"
                        hx-headers='{"Accept":"application/json"}'
                        hx-swap="none"
                        hx-push-url="false"
                        hx-on::after-request="
                            const {ok, runId} = JSON.parse(event.detail.xhr.responseText)

                            if (!ok) return;
                            document.querySelector('.loader-container')?.classList.add('active') 
                            this.parentElement.querySelector('#cancel-btn').dataset.runId = runId
                            this.parentElement.classList.add('running')

                            const eventSource = new EventSource(`/api/run/${runId}/stream`)

                            eventSource.addEventListener('started', () => {
                                console.log('started')
                            })

                            eventSource.addEventListener('finished', (e) => {
                                console.log('finished')

                                const payload = JSON.parse(e.data);
                                const outcome = payload.outcome || {};
                                const out = outcome.lastResult ?? outcome.result ?? outcome;
                                
                                const jobResultFieldElement = document.querySelector('#job_result');
                                jobResultFieldElement.value = JSON.stringify(outcome, null, 2);
                               jobResultFieldElement.dispatchEvent(new Event('change'));
                                
                                this.parentElement.classList.remove('running');
                                document.querySelector('.loader-container')?.classList.remove('active');
                                this.parentElement.querySelector('#cancel-btn').dataset.runId = '';
                                eventSource.close();
                            });

                            eventSource.addEventListener('canceled', () => {
                                console.log('canceled')

                                const jobResultFieldElement = document.querySelector('#job_result')
                                jobResultFieldElement.value = JSON.stringify({ ok:false, error:'canceled' }, null, 2)
                                
                                jobResultFieldElement.dispatchEvent(new Event('change'));

                                this.parentElement.classList.remove('running')
                                this.parentElement.querySelector('#cancel-btn').dataset.runId = '';
                                document.querySelector('.loader-container')?.classList.remove('active') 

                                eventSource.close()
                            });

                            eventSource.addEventListener('gone', () => { eventSource.close(); });
                        "
                    >
                        <%- include('./icons/play') %>
                    </button>
                    <button
                        id="cancel-btn"
                        class="btn btn-primary stop"
                        hx-swap="none"
                        hx-on:click="
                        event.preventDefault();
                        const id = event.currentTarget.dataset.runId;
                        if (id) htmx.ajax('POST', `/api/run/${id}/cancel`, { swap: 'none' });
                        "
                    >
                        <%- include('./icons/stop') %>
                    </button>
                </div>
            </td>
            <td><%= job.id %></td>
            <td><%= job.name %></td>
            <td><%= job.is_enabled ? 'true' : 'false' %></td>
            <td><%= job.job_type %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="5">No jobs found.</td>
        </tr>
        <% } %>
    </tbody>
</table>
