<form 
  method="GET" 
  class="filters" 
  hx-get="/job-runs" 
  hx-target="#results" 
  hx-swap="outerHTML" 
  hx-include=".filters" 
  hx-trigger="submit, change delay:300ms">

  <div class="field">
    <label for="searchJobId">Job id</label>
    <input type="text" name="searchJobId" id="searchJobId" value="<%= filterValues.searchJobId %>" />
  </div>

  <div class="field">
    <label for="searchTaskId">Task id</label>
    <input type="text" name="searchTaskId" id="searchTaskId" value="<%= filterValues.searchTaskId %>" />
  </div>

  <div class="field">
    <label for="status">Status</label>
    <select name="status" id="status">
      <option value="" <%= !filterValues.status ? 'selected' : '' %>>any</option>
      <option value="ok" <%= filterValues.status === 'ok' ? 'selected' : '' %>>ok</option>
      <option value="failed" <%= filterValues.status === 'failed' ? 'selected' : '' %>>failed</option>
      <option value="aborted" <%= filterValues.status === 'aborted' ? 'selected' : '' %>>aborted</option>
    </select>
  </div>

  <div class="field-container">    
    <div class="field">
      <label for="after_date">After date</label>
      <input type="date" name="after_date" id="after_date"  value="<%= filterValues.after_date ? filterValues.after_date.toISOString().slice(0, 10) : ""  %>"/>
    </div>
  </div>

  <div class="field-container">    
    <div class="field">
      <label for="before_date">Before date</label>
      <input type="date" name="before_date" id="before_date"  value="<%= filterValues.before_date ? filterValues.before_date.toISOString().slice(0, 10) : ""  %>"/>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"><%- include('./icons/search')  %></button>
</form>
