<table class="table">
    <thead>
        <tr>
            <th>
                <a href="/job/create" class="btn btn-primary" hx-disable="true"
                    ><%- include('./icons/create') %></a
                >
            </th>
            <th>id</th>
            <th>name</th>
            <th>enabled</th>
            <th>type</th>
        </tr>
    </thead>
    <tbody>
        <% if (jobs && jobs.length) { %>
        <% jobs.forEach(function(job) { %>
        <tr>
            <td>
                <button
                    class="btn btn-primary"
                    hx-delete="/job/<%= job.id %>"
                    hx-confirm="Delete this task?"
                    hx-target="closest tr"
                    hx-swap="outerHTML:remove"
                    hx-push-url="false"
                >
                    <%- include('./icons/delete')  %>
                </button>
                <a hx-boost="false" href="/job/edit/<%= job.id %>" class="btn btn-secondary">
                    <%- include('./icons/edit') %>
                </a>
                <button
                    class="btn btn-primary"
                    hx-post="/job/<%= job.id %>/execute"
                    hx-swap="none"
                    hx-push-url="false"
                    hx-indicator="#result-loader"
                    hx-on::after-request="
                    const jobResultFieldElement = document.querySelector('#job_result')
                    jobResultFieldElement.value = event.detail.xhr.responseText;
                    const changeEvent = new Event('change');
                    jobResultFieldElement.dispatchEvent(changeEvent);
                    "
                >
                    <%- include('./icons/play') %>
                </button>
            </td>
            <td><%= job.id %></td>
            <td><%= job.name %></td>
            <td><%= job.is_enabled ? 'true' : 'false' %></td>
            <td><%= job.job_type %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="5">No jobs found.</td>
        </tr>
        <% } %>
    </tbody>
</table>
