<nav class="pagination">
    <% if (paginateData.hasPrev) { %>
    <a class="btn btn-primary btn--align" href="/<%= module %><%= paginateData.prevHref %>"
        ><%- include('./icons/arrow-left') %>
        Prev</a
    >
    <% } else { %>
    <span class="btn btn--disabled btn--align"
        ><%- include('./icons/arrow-left') %>
        Prev</span
    >
    <% } %>

    <span class="paginateData__info">
        Page <%= paginateData.page %> of <%= paginateData.totalPages %>
    </span>

    <% if (paginateData.hasNext) { %>
    <a class="btn btn-primary btn--align" href="/<%= module %><%= paginateData.nextHref %>"
        >Next
        <%- include('./icons/arrow-right') %></a
    >
    <% } else { %>
    <span class="btn btn--disabled btn--align">Next <%- include('./icons/arrow-right') %></span>
    <% } %>
</nav>
