<table class="table">
    <thead>
        <tr>
            <th>
                <a href="/task/create" class="btn btn-primary" hx-disable="true"
                    ><%- include('./icons/create') %></a
                >
            </th>
            <th>id</th>
            <th>name</th>
            <th>enabled</th>
            <th>schedule type</th>
            <th>interval type</th>
        </tr>
    </thead>
    <tbody>
        <% if (tasks && tasks.length) { %>
        <% tasks.forEach(function(task) { %>
        <tr>
            <td>
                <button
                    class="btn btn-primary"
                    hx-delete="/task/<%= task.id %>"
                    hx-confirm="Delete this task?"
                    hx-target="closest tr"
                    hx-swap="outerHTML:remove"
                    hx-push-url="false"
                >
                    <%- include('./icons/delete')  %>
                </button>
                <a hx-boost="false" href="/task/edit/<%= task.id %>" class="btn btn-secondary">
                    <%- include('./icons/edit') %>
                </a>
            </td>
            <td><%= task.id %></td>
            <td><%= task.name %></td>
            <td><%= task.is_enabled ? 'true' : 'false' %></td>
            <td><%= task.schedule_type %></td>
            <td><%= task.interval_type %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
            <td colspan="5">No tasks found.</td>
        </tr>
        <% } %>
    </tbody>
</table>
